.canvas {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #edfffa 0%, #31c5d6 100%);
    position: relative;
    overflow: hidden;
  }
  .bubble {
    display: block;
    border-radius: 100%;
    opacity: 0.8;
    position: absolute;
  }
  .bubble:nth-child(1) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 8px;
    height: 8px;
    left: 90vw;
    bottom: 35vh;
    -webkit-animation: move1 infinite 10s;
            animation: move1 infinite 10s;
  }
  @-webkit-keyframes move1 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 61vh;
      transform: translate(-60px, 0);
      opacity: 0;
    }
  }
  @keyframes move1 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 61vh;
      transform: translate(-60px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(2) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 29px;
    height: 29px;
    left: 59vw;
    bottom: 52vh;
    -webkit-animation: move2 infinite 7s;
            animation: move2 infinite 7s;
  }
  @-webkit-keyframes move2 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 47vh;
      transform: translate(119px, 0);
      opacity: 0;
    }
  }
  @keyframes move2 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 47vh;
      transform: translate(119px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(3) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 20px;
    height: 20px;
    left: 81vw;
    bottom: 87vh;
    -webkit-animation: move3 infinite 12s;
            animation: move3 infinite 12s;
  }
  @-webkit-keyframes move3 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 74vh;
      transform: translate(73px, 0);
      opacity: 0;
    }
  }
  @keyframes move3 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 74vh;
      transform: translate(73px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(4) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 69px;
    height: 69px;
    left: 43vw;
    bottom: 94vh;
    -webkit-animation: move4 infinite 6s;
            animation: move4 infinite 6s;
  }
  @-webkit-keyframes move4 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 79vh;
      transform: translate(-52px, 0);
      opacity: 0;
    }
  }
  @keyframes move4 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 79vh;
      transform: translate(-52px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(5) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 85px;
    height: 85px;
    left: 61vw;
    bottom: 38vh;
    -webkit-animation: move5 infinite 7s;
            animation: move5 infinite 7s;
  }
  @-webkit-keyframes move5 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 77vh;
      transform: translate(-69px, 0);
      opacity: 0;
    }
  }
  @keyframes move5 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 77vh;
      transform: translate(-69px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(6) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 69px;
    height: 69px;
    left: 27vw;
    bottom: 44vh;
    -webkit-animation: move6 infinite 7s;
            animation: move6 infinite 7s;
  }
  @-webkit-keyframes move6 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 2vh;
      transform: translate(-30px, 0);
      opacity: 0;
    }
  }
  @keyframes move6 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 2vh;
      transform: translate(-30px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(7) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 75px;
    height: 75px;
    left: 11vw;
    bottom: 38vh;
    -webkit-animation: move7 infinite 4s;
            animation: move7 infinite 4s;
  }
  @-webkit-keyframes move7 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 87vh;
      transform: translate(-57px, 0);
      opacity: 0;
    }
  }
  @keyframes move7 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 87vh;
      transform: translate(-57px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(8) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 19px;
    height: 19px;
    left: 76vw;
    bottom: 95vh;
    -webkit-animation: move8 infinite 11s;
            animation: move8 infinite 11s;
  }
  @-webkit-keyframes move8 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 25vh;
      transform: translate(190px, 0);
      opacity: 0;
    }
  }
  @keyframes move8 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 25vh;
      transform: translate(190px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(9) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 32px;
    height: 32px;
    left: 17vw;
    bottom: 42vh;
    -webkit-animation: move9 infinite 14s;
            animation: move9 infinite 14s;
  }
  @-webkit-keyframes move9 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 20vh;
      transform: translate(-22px, 0);
      opacity: 0;
    }
  }
  @keyframes move9 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 20vh;
      transform: translate(-22px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(10) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 35px;
    height: 35px;
    left: 66vw;
    bottom: 51vh;
    -webkit-animation: move10 infinite 8s;
            animation: move10 infinite 8s;
  }
  @-webkit-keyframes move10 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 10vh;
      transform: translate(113px, 0);
      opacity: 0;
    }
  }
  @keyframes move10 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 10vh;
      transform: translate(113px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(11) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 71px;
    height: 71px;
    left: 74vw;
    bottom: 82vh;
    -webkit-animation: move11 infinite 4s;
            animation: move11 infinite 4s;
  }
  @-webkit-keyframes move11 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 93vh;
      transform: translate(0px, 0);
      opacity: 0;
    }
  }
  @keyframes move11 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 93vh;
      transform: translate(0px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(12) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 99px;
    height: 99px;
    left: 45vw;
    bottom: 78vh;
    -webkit-animation: move12 infinite 15s;
            animation: move12 infinite 15s;
  }
  @-webkit-keyframes move12 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 25vh;
      transform: translate(194px, 0);
      opacity: 0;
    }
  }
  @keyframes move12 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 25vh;
      transform: translate(194px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(13) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 20px;
    height: 20px;
    left: 97vw;
    bottom: 92vh;
    -webkit-animation: move13 infinite 15s;
            animation: move13 infinite 15s;
  }
  @-webkit-keyframes move13 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 17vh;
      transform: translate(-53px, 0);
      opacity: 0;
    }
  }
  @keyframes move13 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 17vh;
      transform: translate(-53px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(14) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 6px;
    height: 6px;
    left: 88vw;
    bottom: 7vh;
    -webkit-animation: move14 infinite 10s;
            animation: move14 infinite 10s;
  }
  @-webkit-keyframes move14 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 48vh;
      transform: translate(-35px, 0);
      opacity: 0;
    }
  }
  @keyframes move14 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 48vh;
      transform: translate(-35px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(15) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 78px;
    height: 78px;
    left: 33vw;
    bottom: 87vh;
    -webkit-animation: move15 infinite 15s;
            animation: move15 infinite 15s;
  }
  @-webkit-keyframes move15 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 58vh;
      transform: translate(-81px, 0);
      opacity: 0;
    }
  }
  @keyframes move15 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 58vh;
      transform: translate(-81px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(16) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 69px;
    height: 69px;
    left: 61vw;
    bottom: 55vh;
    -webkit-animation: move16 infinite 13s;
            animation: move16 infinite 13s;
  }
  @-webkit-keyframes move16 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 30vh;
      transform: translate(82px, 0);
      opacity: 0;
    }
  }
  @keyframes move16 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 30vh;
      transform: translate(82px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(17) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 75px;
    height: 75px;
    left: 9vw;
    bottom: 76vh;
    -webkit-animation: move17 infinite 12s;
            animation: move17 infinite 12s;
  }
  @-webkit-keyframes move17 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 2vh;
      transform: translate(-19px, 0);
      opacity: 0;
    }
  }
  @keyframes move17 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 2vh;
      transform: translate(-19px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(18) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 76px;
    height: 76px;
    left: 46vw;
    bottom: 19vh;
    -webkit-animation: move18 infinite 9s;
            animation: move18 infinite 9s;
  }
  @-webkit-keyframes move18 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 91vh;
      transform: translate(146px, 0);
      opacity: 0;
    }
  }
  @keyframes move18 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 91vh;
      transform: translate(146px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(19) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 88px;
    height: 88px;
    left: 95vw;
    bottom: 66vh;
    -webkit-animation: move19 infinite 10s;
            animation: move19 infinite 10s;
  }
  @-webkit-keyframes move19 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 4vh;
      transform: translate(46px, 0);
      opacity: 0;
    }
  }
  @keyframes move19 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 4vh;
      transform: translate(46px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(20) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 47px;
    height: 47px;
    left: 49vw;
    bottom: 21vh;
    -webkit-animation: move20 infinite 9s;
            animation: move20 infinite 9s;
  }
  @-webkit-keyframes move20 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 68vh;
      transform: translate(-89px, 0);
      opacity: 0;
    }
  }
  @keyframes move20 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 68vh;
      transform: translate(-89px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(21) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 26px;
    height: 26px;
    left: 38vw;
    bottom: 31vh;
    -webkit-animation: move21 infinite 14s;
            animation: move21 infinite 14s;
  }
  @-webkit-keyframes move21 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 19vh;
      transform: translate(-16px, 0);
      opacity: 0;
    }
  }
  @keyframes move21 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 19vh;
      transform: translate(-16px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(22) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 60px;
    height: 60px;
    left: 4vw;
    bottom: 67vh;
    -webkit-animation: move22 infinite 3s;
            animation: move22 infinite 3s;
  }
  @-webkit-keyframes move22 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 93vh;
      transform: translate(78px, 0);
      opacity: 0;
    }
  }
  @keyframes move22 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 93vh;
      transform: translate(78px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(23) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 39px;
    height: 39px;
    left: 77vw;
    bottom: 90vh;
    -webkit-animation: move23 infinite 14s;
            animation: move23 infinite 14s;
  }
  @-webkit-keyframes move23 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 67vh;
      transform: translate(119px, 0);
      opacity: 0;
    }
  }
  @keyframes move23 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 67vh;
      transform: translate(119px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(24) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 75px;
    height: 75px;
    left: 1vw;
    bottom: 93vh;
    -webkit-animation: move24 infinite 12s;
            animation: move24 infinite 12s;
  }
  @-webkit-keyframes move24 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 61vh;
      transform: translate(193px, 0);
      opacity: 0;
    }
  }
  @keyframes move24 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 61vh;
      transform: translate(193px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(25) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 54px;
    height: 54px;
    left: 87vw;
    bottom: 52vh;
    -webkit-animation: move25 infinite 9s;
            animation: move25 infinite 9s;
  }
  @-webkit-keyframes move25 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 9vh;
      transform: translate(-87px, 0);
      opacity: 0;
    }
  }
  @keyframes move25 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 9vh;
      transform: translate(-87px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(26) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 14px;
    height: 14px;
    left: 45vw;
    bottom: 73vh;
    -webkit-animation: move26 infinite 13s;
            animation: move26 infinite 13s;
  }
  @-webkit-keyframes move26 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 16vh;
      transform: translate(-24px, 0);
      opacity: 0;
    }
  }
  @keyframes move26 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 16vh;
      transform: translate(-24px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(27) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 28px;
    height: 28px;
    left: 89vw;
    bottom: 51vh;
    -webkit-animation: move27 infinite 8s;
            animation: move27 infinite 8s;
  }
  @-webkit-keyframes move27 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 12vh;
      transform: translate(-77px, 0);
      opacity: 0;
    }
  }
  @keyframes move27 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 12vh;
      transform: translate(-77px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(28) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 37px;
    height: 37px;
    left: 52vw;
    bottom: 42vh;
    -webkit-animation: move28 infinite 14s;
            animation: move28 infinite 14s;
  }
  @-webkit-keyframes move28 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 85vh;
      transform: translate(49px, 0);
      opacity: 0;
    }
  }
  @keyframes move28 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 85vh;
      transform: translate(49px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(29) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 48px;
    height: 48px;
    left: 16vw;
    bottom: 4vh;
    -webkit-animation: move29 infinite 7s;
            animation: move29 infinite 7s;
  }
  @-webkit-keyframes move29 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 13vh;
      transform: translate(89px, 0);
      opacity: 0;
    }
  }
  @keyframes move29 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 13vh;
      transform: translate(89px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(30) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 52px;
    height: 52px;
    left: 26vw;
    bottom: 1vh;
    -webkit-animation: move30 infinite 6s;
            animation: move30 infinite 6s;
  }
  @-webkit-keyframes move30 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 71vh;
      transform: translate(-68px, 0);
      opacity: 0;
    }
  }
  @keyframes move30 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 71vh;
      transform: translate(-68px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(31) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 40px;
    height: 40px;
    left: 100vw;
    bottom: 58vh;
    -webkit-animation: move31 infinite 14s;
            animation: move31 infinite 14s;
  }
  @-webkit-keyframes move31 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 62vh;
      transform: translate(-15px, 0);
      opacity: 0;
    }
  }
  @keyframes move31 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 62vh;
      transform: translate(-15px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(32) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 76px;
    height: 76px;
    left: 52vw;
    bottom: 18vh;
    -webkit-animation: move32 infinite 13s;
            animation: move32 infinite 13s;
  }
  @-webkit-keyframes move32 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 16vh;
      transform: translate(11px, 0);
      opacity: 0;
    }
  }
  @keyframes move32 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 16vh;
      transform: translate(11px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(33) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 18px;
    height: 18px;
    left: 76vw;
    bottom: 22vh;
    -webkit-animation: move33 infinite 6s;
            animation: move33 infinite 6s;
  }
  @-webkit-keyframes move33 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 91vh;
      transform: translate(85px, 0);
      opacity: 0;
    }
  }
  @keyframes move33 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 91vh;
      transform: translate(85px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(34) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 77px;
    height: 77px;
    left: 48vw;
    bottom: 96vh;
    -webkit-animation: move34 infinite 5s;
            animation: move34 infinite 5s;
  }
  @-webkit-keyframes move34 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 64vh;
      transform: translate(74px, 0);
      opacity: 0;
    }
  }
  @keyframes move34 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 64vh;
      transform: translate(74px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(35) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 18px;
    height: 18px;
    left: 57vw;
    bottom: 29vh;
    -webkit-animation: move35 infinite 15s;
            animation: move35 infinite 15s;
  }
  @-webkit-keyframes move35 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 73vh;
      transform: translate(104px, 0);
      opacity: 0;
    }
  }
  @keyframes move35 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 73vh;
      transform: translate(104px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(36) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 18px;
    height: 18px;
    left: 67vw;
    bottom: 12vh;
    -webkit-animation: move36 infinite 4s;
            animation: move36 infinite 4s;
  }
  @-webkit-keyframes move36 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 72vh;
      transform: translate(123px, 0);
      opacity: 0;
    }
  }
  @keyframes move36 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 72vh;
      transform: translate(123px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(37) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 20px;
    height: 20px;
    left: 23vw;
    bottom: 7vh;
    -webkit-animation: move37 infinite 15s;
            animation: move37 infinite 15s;
  }
  @-webkit-keyframes move37 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 53vh;
      transform: translate(132px, 0);
      opacity: 0;
    }
  }
  @keyframes move37 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 53vh;
      transform: translate(132px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(38) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 70px;
    height: 70px;
    left: 1vw;
    bottom: 56vh;
    -webkit-animation: move38 infinite 12s;
            animation: move38 infinite 12s;
  }
  @-webkit-keyframes move38 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 65vh;
      transform: translate(-92px, 0);
      opacity: 0;
    }
  }
  @keyframes move38 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 65vh;
      transform: translate(-92px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(39) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 74px;
    height: 74px;
    left: 3vw;
    bottom: 63vh;
    -webkit-animation: move39 infinite 11s;
            animation: move39 infinite 11s;
  }
  @-webkit-keyframes move39 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 62vh;
      transform: translate(170px, 0);
      opacity: 0;
    }
  }
  @keyframes move39 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 62vh;
      transform: translate(170px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(40) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 18px;
    height: 18px;
    left: 92vw;
    bottom: 87vh;
    -webkit-animation: move40 infinite 12s;
            animation: move40 infinite 12s;
  }
  @-webkit-keyframes move40 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 69vh;
      transform: translate(45px, 0);
      opacity: 0;
    }
  }
  @keyframes move40 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 69vh;
      transform: translate(45px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(41) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 50px;
    height: 50px;
    left: 83vw;
    bottom: 44vh;
    -webkit-animation: move41 infinite 4s;
            animation: move41 infinite 4s;
  }
  @-webkit-keyframes move41 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 54vh;
      transform: translate(2px, 0);
      opacity: 0;
    }
  }
  @keyframes move41 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 54vh;
      transform: translate(2px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(42) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 26px;
    height: 26px;
    left: 91vw;
    bottom: 64vh;
    -webkit-animation: move42 infinite 9s;
            animation: move42 infinite 9s;
  }
  @-webkit-keyframes move42 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 45vh;
      transform: translate(80px, 0);
      opacity: 0;
    }
  }
  @keyframes move42 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 45vh;
      transform: translate(80px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(43) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 19px;
    height: 19px;
    left: 95vw;
    bottom: 4vh;
    -webkit-animation: move43 infinite 12s;
            animation: move43 infinite 12s;
  }
  @-webkit-keyframes move43 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 80vh;
      transform: translate(40px, 0);
      opacity: 0;
    }
  }
  @keyframes move43 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 80vh;
      transform: translate(40px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(44) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 34px;
    height: 34px;
    left: 5vw;
    bottom: 32vh;
    -webkit-animation: move44 infinite 15s;
            animation: move44 infinite 15s;
  }
  @-webkit-keyframes move44 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 11vh;
      transform: translate(-6px, 0);
      opacity: 0;
    }
  }
  @keyframes move44 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 11vh;
      transform: translate(-6px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(45) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 58px;
    height: 58px;
    left: 42vw;
    bottom: 17vh;
    -webkit-animation: move45 infinite 13s;
            animation: move45 infinite 13s;
  }
  @-webkit-keyframes move45 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 45vh;
      transform: translate(-77px, 0);
      opacity: 0;
    }
  }
  @keyframes move45 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 45vh;
      transform: translate(-77px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(46) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 17px;
    height: 17px;
    left: 47vw;
    bottom: 30vh;
    -webkit-animation: move46 infinite 4s;
            animation: move46 infinite 4s;
  }
  @-webkit-keyframes move46 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 45vh;
      transform: translate(-20px, 0);
      opacity: 0;
    }
  }
  @keyframes move46 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 45vh;
      transform: translate(-20px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(47) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 63px;
    height: 63px;
    left: 24vw;
    bottom: 46vh;
    -webkit-animation: move47 infinite 11s;
            animation: move47 infinite 11s;
  }
  @-webkit-keyframes move47 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 84vh;
      transform: translate(47px, 0);
      opacity: 0;
    }
  }
  @keyframes move47 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 84vh;
      transform: translate(47px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(48) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 94px;
    height: 94px;
    left: 23vw;
    bottom: 50vh;
    -webkit-animation: move48 infinite 4s;
            animation: move48 infinite 4s;
  }
  @-webkit-keyframes move48 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 92vh;
      transform: translate(8px, 0);
      opacity: 0;
    }
  }
  @keyframes move48 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 92vh;
      transform: translate(8px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(49) {
    background: radial-gradient(ellipse at center, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 23px;
    height: 23px;
    left: 73vw;
    bottom: 69vh;
    -webkit-animation: move49 infinite 14s;
            animation: move49 infinite 14s;
  }
  @-webkit-keyframes move49 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 56vh;
      transform: translate(-31px, 0);
      opacity: 0;
    }
  }
  @keyframes move49 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 56vh;
      transform: translate(-31px, 0);
      opacity: 0;
    }
  }
  .bubble:nth-child(50) {
    background: radial-gradient(ellipse at top right, #b8c6c6 0%, #30b3d3 46%, #20628c 100%);
    width: 46px;
    height: 46px;
    left: 92vw;
    bottom: 45vh;
    -webkit-animation: move50 infinite 8s;
            animation: move50 infinite 8s;
  }
  @-webkit-keyframes move50 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 37vh;
      transform: translate(-12px, 0);
      opacity: 0;
    }
  }
  @keyframes move50 {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 37vh;
      transform: translate(-12px, 0);
      opacity: 0;
    }
  }
  